<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gs.mapper.EsmspSumMeasurSystemDayMapper">
	<resultMap id="BaseResultMap" type="com.gs.domain.EsmspSumMeasurSystemDay">
		<id column="ID" jdbcType="VARCHAR" property="id" />
		<result column="EUI_CODE" jdbcType="VARCHAR" property="euiCode" />
		<result column="SYSTEM_CODE" jdbcType="VARCHAR" property="systemCode" />
		<result column="MMP_CODE" jdbcType="VARCHAR" property="mmpCode" />
		<result column="DATE_CODE2" jdbcType="VARCHAR" property="dateCode2" />
		<result column="point1" jdbcType="DECIMAL" property="point1" />
		<result column="point2" jdbcType="DECIMAL" property="point2" />
		<result column="point3" jdbcType="DECIMAL" property="point3" />
		<result column="point4" jdbcType="DECIMAL" property="point4" />
		<result column="point5" jdbcType="DECIMAL" property="point5" />
		<result column="point6" jdbcType="DECIMAL" property="point6" />
		<result column="point7" jdbcType="DECIMAL" property="point7" />
		<result column="point8" jdbcType="DECIMAL" property="point8" />
		<result column="point9" jdbcType="DECIMAL" property="point9" />
		<result column="point10" jdbcType="DECIMAL" property="point10" />
		<result column="point11" jdbcType="DECIMAL" property="point11" />
		<result column="point12" jdbcType="DECIMAL" property="point12" />
		<result column="point13" jdbcType="DECIMAL" property="point13" />
		<result column="point14" jdbcType="DECIMAL" property="point14" />
		<result column="point15" jdbcType="DECIMAL" property="point15" />
		<result column="point16" jdbcType="DECIMAL" property="point16" />
		<result column="point17" jdbcType="DECIMAL" property="point17" />
		<result column="point18" jdbcType="DECIMAL" property="point18" />
		<result column="point19" jdbcType="DECIMAL" property="point19" />
		<result column="point20" jdbcType="DECIMAL" property="point20" />
		<result column="point21" jdbcType="DECIMAL" property="point21" />
		<result column="point22" jdbcType="DECIMAL" property="point22" />
		<result column="point23" jdbcType="DECIMAL" property="point23" />
		<result column="point24" jdbcType="DECIMAL" property="point24" />
		<result column="point25" jdbcType="DECIMAL" property="point25" />
		<result column="point26" jdbcType="DECIMAL" property="point26" />
		<result column="point27" jdbcType="DECIMAL" property="point27" />
		<result column="point28" jdbcType="DECIMAL" property="point28" />
		<result column="point29" jdbcType="DECIMAL" property="point29" />
		<result column="point30" jdbcType="DECIMAL" property="point30" />
		<result column="point31" jdbcType="DECIMAL" property="point31" />
		<result column="point32" jdbcType="DECIMAL" property="point32" />
		<result column="point33" jdbcType="DECIMAL" property="point33" />
		<result column="point34" jdbcType="DECIMAL" property="point34" />
		<result column="point35" jdbcType="DECIMAL" property="point35" />
		<result column="point36" jdbcType="DECIMAL" property="point36" />
		<result column="point37" jdbcType="DECIMAL" property="point37" />
		<result column="point38" jdbcType="DECIMAL" property="point38" />
		<result column="point39" jdbcType="DECIMAL" property="point39" />
		<result column="point40" jdbcType="DECIMAL" property="point40" />
		<result column="point41" jdbcType="DECIMAL" property="point41" />
		<result column="point42" jdbcType="DECIMAL" property="point42" />
		<result column="point43" jdbcType="DECIMAL" property="point43" />
		<result column="point44" jdbcType="DECIMAL" property="point44" />
		<result column="point46" jdbcType="DECIMAL" property="point46" />
		<result column="point47" jdbcType="DECIMAL" property="point47" />
		<result column="point48" jdbcType="DECIMAL" property="point48" />
		<result column="point49" jdbcType="DECIMAL" property="point49" />
		<result column="point50" jdbcType="DECIMAL" property="point50" />
		<result column="point51" jdbcType="DECIMAL" property="point51" />
		<result column="point52" jdbcType="DECIMAL" property="point52" />
		<result column="point53" jdbcType="DECIMAL" property="point53" />
		<result column="point54" jdbcType="DECIMAL" property="point54" />
		<result column="point55" jdbcType="DECIMAL" property="point55" />
		<result column="point56" jdbcType="DECIMAL" property="point56" />
		<result column="point57" jdbcType="DECIMAL" property="point57" />
		<result column="point58" jdbcType="DECIMAL" property="point58" />
		<result column="point59" jdbcType="DECIMAL" property="point59" />
		<result column="point60" jdbcType="DECIMAL" property="point60" />
		<result column="point61" jdbcType="DECIMAL" property="point61" />
		<result column="point62" jdbcType="DECIMAL" property="point62" />
		<result column="point63" jdbcType="DECIMAL" property="point63" />
		<result column="point64" jdbcType="DECIMAL" property="point64" />
		<result column="point65" jdbcType="DECIMAL" property="point65" />
		<result column="point66" jdbcType="DECIMAL" property="point66" />
		<result column="point67" jdbcType="DECIMAL" property="point67" />
		<result column="point68" jdbcType="DECIMAL" property="point68" />
		<result column="point69" jdbcType="DECIMAL" property="point69" />
		<result column="point70" jdbcType="DECIMAL" property="point70" />
		<result column="point71" jdbcType="DECIMAL" property="point71" />
		<result column="point72" jdbcType="DECIMAL" property="point72" />
		<result column="point73" jdbcType="DECIMAL" property="point73" />
		<result column="point74" jdbcType="DECIMAL" property="point74" />
		<result column="point75" jdbcType="DECIMAL" property="point75" />
		<result column="point76" jdbcType="DECIMAL" property="point76" />
		<result column="point77" jdbcType="DECIMAL" property="point77" />
		<result column="point78" jdbcType="DECIMAL" property="point78" />
		<result column="point79" jdbcType="DECIMAL" property="point79" />
		<result column="point80" jdbcType="DECIMAL" property="point80" />
		<result column="point81" jdbcType="DECIMAL" property="point81" />
		<result column="point82" jdbcType="DECIMAL" property="point82" />
		<result column="point83" jdbcType="DECIMAL" property="point83" />
		<result column="point45" jdbcType="DECIMAL" property="point45" />
		<result column="point84" jdbcType="DECIMAL" property="point84" />
		<result column="point85" jdbcType="DECIMAL" property="point85" />
		<result column="point86" jdbcType="DECIMAL" property="point86" />
		<result column="point87" jdbcType="DECIMAL" property="point87" />
		<result column="point88" jdbcType="DECIMAL" property="point88" />
		<result column="point89" jdbcType="DECIMAL" property="point89" />
		<result column="point90" jdbcType="DECIMAL" property="point90" />
		<result column="point91" jdbcType="DECIMAL" property="point91" />
		<result column="point92" jdbcType="DECIMAL" property="point92" />
		<result column="point93" jdbcType="DECIMAL" property="point93" />
		<result column="point94" jdbcType="DECIMAL" property="point94" />
		<result column="point95" jdbcType="DECIMAL" property="point95" />
		<result column="point96" jdbcType="DECIMAL" property="point96" />
		<result column="flag" jdbcType="VARCHAR" property="flag" />
		<result column="MAX_VALUE" jdbcType="DECIMAL" property="maxValue" />
		<result column="MAX_DATE" jdbcType="VARCHAR" property="maxDate" />
		<result column="MIN_VALUE" jdbcType="DECIMAL" property="minValue" />
		<result column="MIN_DATE" jdbcType="VARCHAR" property="minDate" />
		<result column="AVG_VALUE" jdbcType="DECIMAL" property="avgValue" />
		<result column="SUM_VALUE" jdbcType="DECIMAL" property="sumValue" />
		<result column="FORCAST_VALUE" jdbcType="DECIMAL" property="forcastValue" />
	</resultMap>
	<sql id="Base_Column_List">
		ID, EUI_CODE, SYSTEM_CODE, MMP_CODE, DATE_CODE2, point1, point2, point3,
		point4,
		point5, point6, point7, point8, point9, point10, point11, point12, point13,
		point14,
		point15, point16, point17, point18, point19, point20, point21, point22,
		point23,
		point24, point25, point26, point27, point28, point29, point30, point31,
		point32,
		point33, point34, point35, point36, point37, point38, point39, point40,
		point41,
		point42, point43, point44, point46, point47, point48, point49, point50,
		point51,
		point52, point53, point54, point55, point56, point57, point58, point59,
		point60,
		point61, point62, point63, point64, point65, point66, point67, point68,
		point69,
		point70, point71, point72, point73, point74, point75, point76, point77,
		point78,
		point79, point80, point81, point82, point83, point45, point84, point85,
		point86,
		point87, point88, point89, point90, point91, point92, point93, point94,
		point95,
		point96, flag, MAX_VALUE, MAX_DATE, MIN_VALUE, MIN_DATE, AVG_VALUE, SUM_VALUE,
		FORCAST_VALUE
  </sql>
	<select id="selectByPrimaryKey" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from esmsp_sum_measur_system_day
		where ID = #{id,jdbcType=VARCHAR}
	</select>
	<select id="selectTop5" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from esmsp_sum_measur_system_day
		order by sum_value LIMIT 5
	</select>
	<select id="selectByCode" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from esmsp_sum_measur_system_day
		where system_code = #{systemCode} and euo_code=#{euoCode}
	</select>
</mapper>