<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gs.mapper.PomsRoleModuleActionMapper" >
  <resultMap id="BaseResultMap" type="com.gs.domain.PomsRoleModuleAction" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="MM_ID" property="mmId" jdbcType="VARCHAR" />
    <result column="RA_ID" property="raId" jdbcType="VARCHAR" />
    <result column="MA_ID" property="maId" jdbcType="VARCHAR" />
    <result column="RMA_BACKUPS" property="rmaBackups" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, MM_ID, RA_ID, MA_ID, RMA_BACKUPS
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from poms_role_module_action
    where ID = #{id,jdbcType=VARCHAR}
  </select>
   <select id="selectByRAId" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from poms_role_module_action
    where ra_id = #{raId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from poms_role_module_action
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.gs.domain.PomsRoleModuleAction" >
    insert into poms_role_module_action (ID, MM_ID, RA_ID, 
      MA_ID, RMA_BACKUPS)
    values (#{id,jdbcType=VARCHAR}, #{mmId,jdbcType=VARCHAR}, #{raId,jdbcType=VARCHAR}, 
      #{maId,jdbcType=VARCHAR}, #{rmaBackups,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.gs.domain.PomsRoleModuleAction" >
    insert into poms_role_module_action
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="mmId != null" >
        MM_ID,
      </if>
      <if test="raId != null" >
        RA_ID,
      </if>
      <if test="maId != null" >
        MA_ID,
      </if>
      <if test="rmaBackups != null" >
        RMA_BACKUPS,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="mmId != null" >
        #{mmId,jdbcType=VARCHAR},
      </if>
      <if test="raId != null" >
        #{raId,jdbcType=VARCHAR},
      </if>
      <if test="maId != null" >
        #{maId,jdbcType=VARCHAR},
      </if>
      <if test="rmaBackups != null" >
        #{rmaBackups,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.gs.domain.PomsRoleModuleAction" >
    update poms_role_module_action
    <set >
      <if test="mmId != null" >
        MM_ID = #{mmId,jdbcType=VARCHAR},
      </if>
      <if test="raId != null" >
        RA_ID = #{raId,jdbcType=VARCHAR},
      </if>
      <if test="maId != null" >
        MA_ID = #{maId,jdbcType=VARCHAR},
      </if>
      <if test="rmaBackups != null" >
        RMA_BACKUPS = #{rmaBackups,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.gs.domain.PomsRoleModuleAction" >
    update poms_role_module_action
    set MM_ID = #{mmId,jdbcType=VARCHAR},
      RA_ID = #{raId,jdbcType=VARCHAR},
      MA_ID = #{maId,jdbcType=VARCHAR},
      RMA_BACKUPS = #{rmaBackups,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>