<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gs.mapper.PomsUnitInfoMapper" >
  <resultMap id="BaseResultMap" type="com.gs.domain.PomsUnitInfo" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="EUI_CODE" property="euiCode" jdbcType="VARCHAR" />
    <result column="LINE_CODE" property="lineCode" jdbcType="VARCHAR" />
    <result column="EUI_NAME" property="euiName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, EUI_CODE, LINE_CODE, EUI_NAME
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from poms_unit_info
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from poms_unit_info
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.gs.domain.PomsUnitInfo" >
    insert into poms_unit_info (ID, EUI_CODE, LINE_CODE, 
      EUI_NAME)
    values (#{id,jdbcType=VARCHAR}, #{euiCode,jdbcType=VARCHAR}, #{lineCode,jdbcType=VARCHAR}, 
      #{euiName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.gs.domain.PomsUnitInfo" >
    insert into poms_unit_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="euiCode != null" >
        EUI_CODE,
      </if>
      <if test="lineCode != null" >
        LINE_CODE,
      </if>
      <if test="euiName != null" >
        EUI_NAME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="euiCode != null" >
        #{euiCode,jdbcType=VARCHAR},
      </if>
      <if test="lineCode != null" >
        #{lineCode,jdbcType=VARCHAR},
      </if>
      <if test="euiName != null" >
        #{euiName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.gs.domain.PomsUnitInfo" >
    update poms_unit_info
    <set >
      <if test="euiCode != null" >
        EUI_CODE = #{euiCode,jdbcType=VARCHAR},
      </if>
      <if test="lineCode != null" >
        LINE_CODE = #{lineCode,jdbcType=VARCHAR},
      </if>
      <if test="euiName != null" >
        EUI_NAME = #{euiName,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.gs.domain.PomsUnitInfo" >
    update poms_unit_info
    set EUI_CODE = #{euiCode,jdbcType=VARCHAR},
      LINE_CODE = #{lineCode,jdbcType=VARCHAR},
      EUI_NAME = #{euiName,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>